@font-face {
  font-family: 'MuseoSans';  
  src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: 400;  
  font-style: normal;  
}

@font-face {
  font-family: 'Raleway'; 
  src: url('../fonts/Raleway.woff2') format('woff2');  
  font-weight: 400;  
  font-style: normal;  
}
